body {
    font-family: 'Lobster Two', cursive;
    background-color: lightseagreen;
}
.highscores {
    float: left;
    font-family: 'Lobster Two', cursive;
}
#time {
    float: right;
    font-family: 'Lobster Two', cursive;
}
.container {
    padding: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
}
.button {
    display: grid;
    font-family: 'Lobster Two', cursive;
}
.start {
    font-family: 'Lobster Two', cursive;
    display: grid;
    justify-items: center;
    align-items: center;
}