body {
    font-family: 'Lobster Two', cursive;
}
.highscores {
    float: left;
    font-family: 'Lobster Two', cursive;
}
#time {
    float: right;
    font-family: 'Lobster Two', cursive;
}
.container {
    padding: 10px;
}
.button {
    display: grid;
    font-family: 'Lobster Two', cursive;
}
#start {
    display: grid;
    font-family: 'Lobster Two', cursive; 
}